#bottomBar {
	display: flex;
	justify-content: space-between;
	background-color: rgb(29, 27, 27);
	color: white;
	font-size: 15px;
	width: 100%;
	min-height: 150px;
}

#bottomBar a {
	color: white;
	text-decoration: none;
}

#footMemu {
	display: flex;
	margin-top: 15px;
	width: 33.5%;
	letter-spacing: 1px;
}

#footMemu a {
	display: inline-block;
	width: fit-content;
	padding: 6px 15px;
}

#footLogo {
	text-align: center;
	width: 33%;
	margin-top: 15px;
	font-size: 13px;
}

#footSocial {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
	width: 33.5%;
}

#footSocial a {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	height: fit-content;
	width: fit-content;
}

#footSocial img {
	margin-right: 5px;
}

/* ..........................mWeb.......................... */
@media screen and (max-width: 931px) {
	#footMemu {
		flex-direction: column;
		width: 32%;
	}

	#footLogo img {
		margin-top: 5px;
		height: 60px;
	}

	#footSocial {
		flex-direction: column;
		justify-content: unset;
		align-items: end;
	}
}

@media screen and (max-width: 750px) {
	#bottomBar {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#footMemu {
		width: 100%;
	}

	#footLogo {
		width: unset;
	}

	#footSocial {
		width: 100%;
	}

	#footSocial a {
		padding: 5px 15px;
	}
}
