.profileSettings {
	margin: 0 50px;
}

.userInfo {
	display: flex;
	width: 100%;
}

.ProfilePictureTitle {
	font-size: 15px;
	margin-bottom: 5px;
}

.ProfilePictureImg {
	border-radius: 2px;
	height: 120px;
	width: 120px;
	margin-right: 30px;
	object-fit: cover;
	aspect-ratio: 1;
}

.userDetails {
	width: 100%;
}

.ProfilePicUploadBtn {
	font-size: unset;
	margin-bottom: 10px;
}

.userNameTitle {
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 5px;
}

.userName {
	display: flex;
	width: 100%;
}

.profileSettingsInput {
	font-size: 17px;
	box-shadow: 0 2px 4px rgba(192, 192, 192, 0.1);
	border: #2e2c2c 2px solid;
	border-radius: 5px;
	width: 50%;
	height: 40px;
	padding-left: 12px;
	outline: unset;
}

.firstNameInput {
	margin-right: 20px;
}

.profileSettingsInput:hover,
.profileSettingsInput:focus {
	border: #9e9e9e 2px solid;
}

.saveChangesBtn {
	margin-top: 60px;
	text-align: right;
}

.changeUserProfileMsg {
	width: fit-content;
	font-size: 25px;
	color: red;
	word-wrap: normal;
	margin-top: 5px;
	word-break: break-word;
}

/* ...............................mWeb............................. */
@media screen and (max-width: 470px) {
	.profileSettings {
		margin: 0 30px;
	}

	.userInfo {
		display: block;
	}

	.ProfilePictureImg {
		height: 150px;
		width: 150px;
		margin: 0px;
	}

	.userDetails {
		margin-top: 30px;
	}

	.profileSettingsInput {
		width: 50%;
		font-size: 15px;
		height: 35px;
	}

	.firstNameInput {
		margin-right: 5px;
	}

	.saveChangesBtn {
		margin: 50px 0 0 0;
		text-align: right;
	}
}
