.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
}

.brandName {
	/* flex-grow: 1; */
	display: flex;
	align-items: center;
	font-size: 25px;
	font-weight: 500;
	background: -webkit-linear-gradient(#eee, #83b5d8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.brandName img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

@media screen and (max-width: 700px) {
	.navBar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 10px;
	}

	.brandName {
		font-size: 19px;
	}

	.brandName img {
		width: 30px;
		height: 30px;
		margin-right: 5px;
	}

	.navBarSearchBox {
		display: none;
	}

	.userNavBarDetails {
		font-size: 15px;
	}
}
