.homePageBackground {
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: -1;
	background: linear-gradient(135deg, rgb(27, 26, 26) 5%, rgb(53, 35, 20) 40%, rgba(255, 145, 10, 1) 100%);
}

.homePageContain {
	padding: 20px 20px 200px 20px;
	min-height: calc(100vh - 200px);
}

.homePageTitle {
	display: flex;
	align-items: center;
	/* justify-content: space-around; */
}

.classInfo {
	width: 35%;
}

.programName {
	font-size: 25px;
	margin-bottom: 10px;
}

.programName span {
	color: #fc7a00;
	font-weight: bold;
}

.tableSemesterTitle {
	font-size: 40px;
	margin-top: 20px;
	text-align: center;
	background: -webkit-linear-gradient(#eee, #83b5d8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* .classSection {
	text-align: end;
}

.classSection span {
	color: #fc7a00;
	font-weight: bold;
} */

/* ------------M-web----------- */
@media screen and (max-width: 700px) {
	.homePageTitle {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.classInfo {
		width: 100%;
	}

	.programName {
		font-size: 15px;
	}

	.tableSemesterTitle {
		font-size: 30px;
	}
}
