.searchBox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	margin-right: 20px;
	background-color: #e8c39e4d;
	border-radius: 5px;
	border: 1px solid unset;
}

.searchBox:hover {
	border: 1px solid #fc7a00;
}

.searchBox:focus-within {
	border: 1px solid rgb(255, 166, 0) !important;
}

.searchBox input {
	width: 100%;
	height: 40px;
	font-size: 18px;
	border-radius: 5px;
	outline: unset;
	padding: 0 10px;
	border: unset;
	background-color: unset;
	color: white;
}

.searchBox input::placeholder {
	color: rgb(189, 189, 189);
}
