.aboutSettings {
	margin: 0 50px;
}

.aboutDeveloperTitle {
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 10px;
}

.aboutDevloperSection div {
	margin-bottom: 5px;
}

.contactSection {
	margin-top: 20px;
}

.contactSectionTitle {
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 10px;
}

.contactSection div {
	margin-bottom: 5px;
}

@media screen and (max-width: 470px) {
	.aboutSettings {
		margin: 0 30px;
	}
}