.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(54, 54, 54);
	outline: unset;
	width: 90%;
	border-radius: 8px;
	/* overflow: hidden; */
}

.modalHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: rgba(102, 51, 153, 0.506);
}

.modalCourseBox {
	width: 100%;
	overflow: auto;
	padding-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.muiInputBox {
	width: 90% !important;
	margin-bottom: 10px !important;
}

.muiInputBox:first-child {
	margin-top: 20px !important;
}

.editModalButtons {
	display: flex;
}

@media screen and (max-width: 1000px) {
	.modalCourseBox {
		text-align: center;
	}

	.courseTitleInput,
	.coursePriceInput,
	.demoVideoLinkInput,
	.courseLinkInput,
	.aboutCourseInput,
	.courseTypeInput {
		width: calc(100% - 20px);
	}

	.courseDetailsInputArea {
		margin: 10px 0 0 0;
	}

	.courseImgAndName {
		display: block;
		margin: unset;
	}

	.courseNameAndPrice {
		margin: unset;
	}
}

@media screen and (max-width: 400px) {
	.modal {
		width: 95%;
		height: 85%;
	}
}

@media screen and (max-height: 650px) and (min-height: 500px) {
	#elementBox {
		height: 84%;
	}
}

@media screen and (max-height: 500px) {
	#elementBox {
		height: 80%;
	}
}

@media screen and (max-height: 400px) {
	.modal {
		height: 95%;
	}
}
