.subjectTable {
	min-height: 500px;
	margin: auto;
	margin-top: 20px;
	width: 85%;
	backdrop-filter: saturate(180%) blur(5px);
	background-color: rgba(255, 255, 255, 0.309);
	border-radius: 10px;
	box-shadow: 0px 1px 25px 5px rgba(72, 72, 72, 0.75);
	font-size: 20px;
	overflow: scroll;
}

.titleRow {
	font-weight: bold;
	font-size: 20px;
	border-radius: 10px 10px 0 0;
	backdrop-filter: saturate(180%) blur(5px);
}

.tableRow {
	display: flex;
	width: 100%;
	height: fit-content;
	padding: 5px 0;
}

.titleAddBtn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.column {
	min-width: 100px;
	padding: 5px 10px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-right: 1px solid #000000;
}

.column:last-child {
	border-right: none;
	overflow: unset;
}

/* ------------M-web----------- */
@media screen and (max-width: 600px) {
	.subjectTable {
		width: 100%;
	}

	.tableTitle {
		background-color: rgba(255, 255, 255, 0.309);
	}

	.titleRow {
		backdrop-filter: unset;
	}
}
